<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Ensures optimal rendering on mobile devices. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery.toast.min.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://www.paypal.com/sdk/js?client-id=AU38yVtT7uX_FPZgOvWXdIIewAFGP_K2DSvi6cfjyyg3pxgjKMGFABRX5bKSxV_FJbDcNG4XCFcyQimX&currency=USD&buyer-country=US&intent=capture&components=buttons" ></script> 
    
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="/javascripts/jquery.toast.min.js"></script>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="/images/choco.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Chocolate</h5>
        <p class="card-text">Mario store chocolates. Buy Them Now !!</p>
        <div id="paypal-button-container"></div>
      </div>
    </div>
  
    <script>
      paypal
      .Buttons({
        // Specify the style of the button
        style: {
          layout: "vertical",
          shape: "rect", // pill | rect
          color: "gold", // gold | blue | silve | black
          label: "pay" // checkout | pay | paypal
        },
        createOrder: function(data, actions) {
          console.log("Creating Order");
          return fetch("/create-payments", {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
             
            })
          })
          .then(res => res.json())
          .then(res => {
            res = JSON.parse(res);
            if(!res.id)
              console.log(JSON.stringify(res, null, 4));
            else
              console.log("Order Id : "+ res.id)
            return res.id;
          })
         
        },
        onApprove: function(data, actions) {
        console.log('Hi onarrove')
          // Get the transaction details
          return fetch("/capture-order?orderId="+data.orderID,{
            method: 'POST',
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json"
            },
            body: JSON.stringify({
            
            })
          })
          .then(res => res.json())
          .then(res => {
              if(!res.id) {
                  console.log(JSON.stringify(res,null,4));
              }
              let respFromServer = JSON.parse(res);
              console.log(respFromServer)
              console.log("Payment Successful")
              if(respFromServer.status == "COMPLETED") {
                $.toast({
                  heading: 'Success',
                  text: 'Payment Succecssful',
                  showHideTransition: 'slide',
                  icon: 'success'
                })
                if(confirm("Payment Succecssful ! Do u want to continue?")) {
                  document.location.href = "/success"
                }           
                
              }else {

              }
            
              //return res;
          })
        
        },
        onCancel : function(err) {
          console.log("You cancelled the operation","error");
          return  alert("You cancelled the operation");
        },
        onError: function(err) {
          console.log("Some error occurred " + err);
          console.log("ERROR - "+err.message,"error");
          alert(
            "Some Error Occurred . Please open console to see the error " +
              JSON.stringify(err)
          );
        },
        onInit: function(data, actions) {
          console.log("PayPal Button Loaded");  
        }
      })
      .render("#paypal-button-container")
      .catch(err => {
        console.log("errrrrror ", err);
     })

    </script>
  </body>
</html>
